In [38]:
import pandas
import numpy

In [39]:
df = pandas.read_csv("../TFLM_dataset/metadata.csv")

In [40]:
df

,Dataset Name,Image Name,Position,Channel,i,trap
0,Pos000000000,img_000000000_01-BF0_000_trap_019.tif,0,01-BF0,0,19
1,Pos000000000,img_000000000_01-BF0_000_trap_022.tif,0,01-BF0,0,22
2,Pos000000000,img_000000000_01-BF0_000_trap_024.tif,0,01-BF0,0,24
3,Pos000000000,img_000000000_01-BF0_000_trap_027.tif,0,01-BF0,0,27
4,Pos000000000,img_000000000_01-BF0_000_trap_028.tif,0,01-BF0,0,28
...,...,...,...,...,...,...
29083,Pos000000011,img_000000011_04-RFPdouble_000_trap_035.tif,11,04-RFPdouble,0,35
29084,Pos000000011,img_000000011_04-RFPdouble_001_trap_016.tif,11,04-RFPdouble,1,16
29085,Pos000000011,img_000000011_04-RFPdouble_001_trap_035.tif,11,04-RFPdouble,1,35
29086,Pos000000011,img_000000011_04-RFPdouble_002_trap_016.tif,11,04-RFPdouble,2,16
29087,Pos000000011,img_000000011_04-RFPdouble_002_trap_035.tif,11,04-RFPdouble,2,35

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29088 entries, 0 to 29087
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dataset Name  29088 non-null  object
 1    Image Name   29088 non-null  object
 2   Position      29088 non-null  int64
 3   Channel       29088 non-null  object
 4   i             29088 non-null  int64
 5   trap          29088 non-null  int64
dtypes: int64(3), object(3)
memory usage: 1.3+ MB

In [42]:
organism = 'Oppidum hanseaticum'

In [43]:
genotyperef = 'NCBI_Taxon'
ref_acc = 'NCBI_0000'
strains = ['HGW', 'HRO', 'HH', 'HL', 'HST', 'HB', 'HWI', 'RDG', 'CPH', 'STH', 'LG', 'D', 'K']
genotypes = [a+b for a in ['D', 'I', 'R', 'X'] for b in [str(i) for i in range(4)]]
imagetypes = ['raw', 'derived']
investigations = ['I1', 'I2', 'I3']
studies = ['S' + str(s) for s in range(3)]
assays = ['A' + str(s) for s in range(10)]

In [44]:
import random

In [45]:
df['Organism'] = organism
df['Term Source'] = genotyperef
df['Term Accession'] = ref_acc
df['Strain'] = random.choices(strains, k=len(df))
df['Genotype'] = random.choices(genotypes, k=len(df))
df['Imagetype'] = random.choices(imagetypes, k=len(df))
df['Investigation'] = random.choices(investigations, k=len(df))
df['Study'] = random.choices(studies, k=len(df))
df['Assay'] = random.choices(assays, k=len(df))

In [46]:
df.head()

,Dataset Name,Image Name,Position,Channel,i,trap,Organism,Term Source,Term Accession,Strain,Genotype,Imagetype,Investigation,Study,Assay
0,Pos000000000,img_000000000_01-BF0_000_trap_019.tif,0,01-BF0,0,19,Oppidum hanseaticum,NCBI_Taxon,NCBI_0000,HWI,I0,raw,I2,S2,A2
1,Pos000000000,img_000000000_01-BF0_000_trap_022.tif,0,01-BF0,0,22,Oppidum hanseaticum,NCBI_Taxon,NCBI_0000,HB,R1,derived,I1,S2,A9
2,Pos000000000,img_000000000_01-BF0_000_trap_024.tif,0,01-BF0,0,24,Oppidum hanseaticum,NCBI_Taxon,NCBI_0000,LG,D2,derived,I1,S1,A5
3,Pos000000000,img_000000000_01-BF0_000_trap_027.tif,0,01-BF0,0,27,Oppidum hanseaticum,NCBI_Taxon,NCBI_0000,RDG,D3,derived,I1,S2,A3
4,Pos000000000,img_000000000_01-BF0_000_trap_028.tif,0,01-BF0,0,28,Oppidum hanseaticum,NCBI_Taxon,NCBI_0000,LG,X2,derived,I1,S0,A6

In [49]:
df.columns = df.columns.str.replace(" ", "_")

In [60]:
df = df.astype('str')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29088 entries, 0 to 29087
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dataset_Name    29088 non-null  object
 1   _Image_Name     29088 non-null  object
 2   Position        29088 non-null  object
 3   Channel         29088 non-null  object
 4   i               29088 non-null  object
 5   trap            29088 non-null  object
 6   Organism        29088 non-null  object
 7   Term_Source     29088 non-null  object
 8   Term_Accession  29088 non-null  object
 9   Strain          29088 non-null  object
 10  Genotype        29088 non-null  object
 11  Imagetype       29088 non-null  object
 12  Investigation   29088 non-null  object
 13  Study           29088 non-null  object
 14  Assay           29088 non-null  object
dtypes: object(15)
memory usage: 3.3+ MB

In [50]:
from omero.gateway import BlitzGateway, MapAnnotationWrapper

In [13]:
from getpass import getpass

In [14]:
pw = getpass()

 Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·

In [52]:
conn = BlitzGateway('grotec', pw, host='ome.evolbio.mpg.de', secure=True )

In [53]:
conn.connect()

True

In [62]:
annotation = MapAnnotationWrapper(conn)

In [63]:
annotation.setNs('http://example.org')

In [64]:
kv_pairs = list(df.iloc[0].to_dict().items())

In [65]:
kv_pairs

[('Dataset_Name', 'Pos000000000'),
 ('_Image_Name', 'img_000000000_01-BF0_000_trap_019.tif'),
 ('Position', '0'),
 ('Channel', '01-BF0'),
 ('i', '0'),
 ('trap', '19'),
 ('Organism', 'Oppidum hanseaticum'),
 ('Term_Source', 'NCBI_Taxon'),
 ('Term_Accession', 'NCBI_0000'),
 ('Strain', 'HWI'),
 ('Genotype', 'I0'),
 ('Imagetype', 'raw'),
 ('Investigation', 'I2'),
 ('Study', 'S2'),
 ('Assay', 'A2')]

In [66]:
annotation.setValue(kv_pairs)

In [67]:
image = conn.getObject("Image",9743434)

In [69]:
annotation.save()

In [70]:
image.linkAnnotation(annotation)

AttributeError: 'MapAnnotationI' object has no attribute 'getProject'